<ion-view view-title="Agregar Clientes">
  <ion-content class="padding">
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Nombres" ng-model="nombre" id="nombre">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Apellidos" ng-model="apellido" id="apellido">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Total" ng-model="total" id="total">
  </label>
</div>
<button class="button button-full button-positive" ng-click="guardar()">
  Registrar
</button>
  </ion-content>
</ion-view>
